<div class="nav-map-wrap">
    <div class="nav-map">爱WiFi运营管理平台<span class="flag">></span>无感知配置<span class="flag">></span>查看无感知</div>
</div>
<style>
    .noperceptionTime { padding: 5px 0; }
    .noperceptionTime label { display: inline-block; width: 50px; }
</style>
<div class="content">
    <div class="user-add-body awifi-free-width">
        <div class="awifi-form-sheet">
            <div class="awifi-form-sheet">
                <label class="form-item-title awifi-Col-3">客户名称：</label>
                <label class="form-item-title-left awifi-Col-6 ng-binding">{{ customerName }}</label>
            </div>
            <div class="awifi-form-sheet">
                <label class="form-item-title awifi-Col-3">无感知策略：</label>
                <label class="form-item-title-left awifi-Col-6 ng-binding">{{ timeDsp }}</label>
            </div>
            <div class="awifi-form-sheet">
                <label class="form-item-title awifi-Col-3">状态：</label>
                <label class="form-item-title-left awifi-Col-6 ng-binding">{{ statusDsp }}</label>
            </div>
            <div class="awifi-form-sheet">
                <label class="form-item-title awifi-Col-3">备注：</label>
                <label class="form-item-title-left awifi-Col-6 ng-binding">{{ remark }}</label>
            </div>
            <div class="awifi-form-sheet">
                <label class="form-item-title awifi-Col-3">&emsp;</label>
                <div class="awifi-left awifi-padding-left awifi-padding-top">
                    <a href="#/noperception/list" class="btn back-form-primary">
                        <span>返回</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>