<div class="nav-map-wrap">
    <div class="nav-map">爱WiFi运营管理平台<span class="flag">></span>账号管理<span class="flag">></span>管理员账号</div>
</div>
<div class="content-fixed">
    <div class="awifi-padding-left20">
        <div class="awifi-form-sheet">
            <div class="form-item-input awifi-Col-3 awifi-margin-right20">
                <input class="input-control" placeholder="请输入账号/姓名/部门/联系电话关键字" data-ng-model="keywords">
            </div>
            <div class="awifi-left awifi-padding-left">
                <button class="form-primary" data-ng-click="list()">
                    <span>查询</span>
                </button>
            </div>
            <div class="awifi-left awifi-padding-left awifi-padding-top">
                <a href="#/account/adminAdd" class="btn add-form-primary">
                    <span>创建管理员账号</span>
                </a>
            </div>
        </div>
        <div class="listtitle">
            <span class="list6">&emsp;序号</span>
            <span class="list22">&nbsp;账号</span>
            <span class="list18">&nbsp;部门</span>
            <span class="list12">&nbsp;姓名</span>
            <span class="list16">&nbsp;联系电话</span>
            <span class="list12">&nbsp;创建时间</span>
            <span class="oper12">&nbsp;操作</span>
        </div>
    </div>
</div>
<div class="content-one">
    <div class="datacontent" IE="8">
        <div class="listcontent" data-ng-repeat="accountadmin in accountadmins">
            <span class="list6">&emsp;{{ begin + $index + 1 }}</span>
            <span class="list22 substring" title="{{accountadmin.userName}}">&nbsp;{{accountadmin.userName}}</span>
            <span class="list18 substring" title="{{accountadmin.deptName}}">&nbsp;{{accountadmin.deptName}}</span>
            <span class="list12 substring" title="{{accountadmin.contactPerson}}">&nbsp;{{accountadmin.contactPerson}}</span>
            <span class="list16 substring" title="{{accountadmin.contactWay}}">&nbsp;{{accountadmin.contactWay}}</span>
            <span class="list12">&nbsp;{{accountadmin.createDate}}</span>
            <span class="oper12">
                <a class="edit" title="编辑" href="#/account/adminEdit?id={{accountadmin.id}}"></a>
                <a class="delete" title="删除" data-ng-click="delete(accountadmin.id)"></a>
                <a class="reset" title="重置密码" data-ng-click="pwdReset(accountadmin.id)"></a>
                <a class="assign" title="分配权限" href="#/account/permissionAssignTelecom?id={{ accountadmin.id }}"></a>
            </span>
        </div>
        <div data-ng-if="accountadmins.length==0" class="no-records">查询完成，没有找到相应的数据</div>
    </div>
</div>
<div class="footer-fixed">
    <div class="right_footer" data-ng-show="showPageBar">
        <div class="right_footer_page">
        </div>
        <div class="page_num">
            <ul>
                <li>每页显示</li>
                <li><input type="button" value="15" class="show_page" /> </li>
                <li><input type="button" value="30" class="show_page" /></li>
                <li><input type="button" value="50" class="show_page" /></li>
                <li>行</li>
            </ul>
        </div>
        <div class="nothing"></div>
    </div>
</div>