<!--账号分配权限列表页面-->
<div class="nav-map-wrap">
    <div class="nav-map">爱WiFi运营管理平台<span class="flag">></span>账号管理<span class="flag">></span>电信侧账号<span class="flag">></span>分配权限</div>
</div>
<div class="content">
    <div class="account-add-body awifi-free-width">
        <div class="awifi-form-sheet">
            <label class="form-item-title awifi-Col-2">账号：</label>
            <label class="account-name-title awifi-Col-2">{{ account.userName }}</label>
            <label class="form-item-title awifi-Col-1">角色：</label>
            <label class="account-name-title awifi-Col-2">{{ account.userTypeDsp }}</label>
            <label class="form-item-title awifi-Col-1">地区：</label>
            <label class="account-name-title awifi-Col-3">{{ account.location }}</label>
        </div>
        <div class="awifi-form-sheet">
            <div class="jsd-layout">
                <div class="jsd-title clearfix">
                    <div class="jsd-title-t">可选权限</div>
                    <div class="jsd-title-t">已有权限</div>
                </div>
                <!--可选权限-->
                <div class="jsd-origin">
                    <div data-ng-repeat="permission in permissions">
                        <div mid="{{ permission.id}}" class="leaf limb ">{{ permission.aliasName}}</div>
                        <div class="leafs">
                            <div class="nothingleaf" data-ng-repeat="permissiontwo in permission.childPermissions">
                                <div mid="{{ permissiontwo.id}}" class="leaf limb ">{{ permissiontwo.aliasName }}</div>
                                <div class="leafs">
                                    <div mid="{{ permissionthree.id }}" class="leaf "
                                         data-ng-repeat="permissionthree in permissiontwo.childPermissions">
                                        {{permissionthree.aliasName}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--已有权限-->
                <div class="jsd-gave">
                    <div data-ng-repeat="permission in permissions">
                        <div mid="{{ permission.id}}" class="leaf limb ">{{ permission.aliasName}}</div>
                        <div class="leafs">
                            <div class="nothingleaf" data-ng-repeat="permissiontwo in permission.childPermissions">
                                <div mid="{{ permissiontwo.id}}" class="leaf limb ">{{ permissiontwo.aliasName }}</div>
                                <div class="leafs">
                                    <div mid="{{ permissionthree.id }}" class="leaf "
                                         data-ng-repeat="permissionthree in permissiontwo.childPermissions">
                                        {{permissionthree.aliasName}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="awifi-form-sheet">
            <label class="form-item-title awifi-Col-5">&nbsp;</label>
            <div class="awifi-left awifi-padding-left">
                <button id="submit" class="form-primary awifi-left" type="button" data-ng-click="permissionAssign()">
                    <span>&nbsp;确&emsp;定&nbsp;</span>
                </button>
            </div>
            <div class="awifi-left awifi-padding-left awifi-padding-top">
                <a href="#/account/telecomList" class="btn back-form-primary">
                    <span>&nbsp;返&emsp;回&nbsp;</span>
                </a>
            </div>
        </div>
    </div>
</div>