<!--登录后修改密码页面-->
<div class="nav-map-wrap">
    <div class="nav-map">爱WiFi运营管理平台<span class="flag">></span>修改密码</div>
</div>
<div class="content">
    <div class="account-add-body awifi-free-width">
        <div class="awifi-form-sheet">
            <label class="form-item-title awifi-Col-3">旧密码：</label>
            <div class="form-item-input awifi-Col-6">
                <input type="password" class="input-control inputw490" placeholder="请输入旧密码" id="oldPassword" data-ng-model="oldPassword">
            </div>
        </div>
        <div class="awifi-form-sheet">
            <label class="form-item-title awifi-Col-3">新密码：</label>
            <div class="form-item-input awifi-Col-6">
                <input type="password" class="input-control inputw490" placeholder="请输入新密码" id="newPassword" data-ng-model="newPassword">
            </div>
        </div>
        <div class="awifi-form-sheet">
            <label class="form-item-title awifi-Col-3">确认密码：</label>
            <div class="form-item-input awifi-Col-6">
                <input type="password" class="input-control inputw490" placeholder="请输入确认密码" id="surePassword" data-ng-model="surePassword">
            </div>
        </div>
        <div class="awifi-form-sheet">
            <label class="form-item-title awifi-Col-3">&nbsp;</label>
            <div class="awifi-left awifi-padding-left">
                <button id="pwdEdit" class="form-primary awifi-left" type="button" data-ng-click="pwdEdit()">
                    <span>&nbsp;保&emsp;存&nbsp;</span>
                </button>
            </div>
            <div class="awifi-left awifi-padding-left awifi-padding-top">
                <a href="#/" class="btn back-form-primary">
                    <span>&nbsp;返&emsp;回&nbsp;</span>
                </a>
            </div>
        </div>
    </div>
</div>