<div class="nav-map-wrap">
    <div class="nav-map">爱WiFi运营管理平台<span class="flag">></span>系统配置<span class="flag">></span>皮肤策略</div>
</div>
<div class="content-fixed">
    <div class="awifi-padding-left20">
        <div class="awifi-form-sheet">
            <label class="form-item-title">客户名称：</label>
            <div class="form-item-input awifi-Col-2 awifi-margin-right">
                <select id="customerIdAndLevel" style="width: 100%;" data-ng-model="customerIdAndLevel">
                    <option value="">请选择</option>
                </select>
            </div>
            <div class="form-item-select awifi-Col-2 awifi-margin-right">
                <select style="width: 100%" data-ng-model="themeId" data-ng-options="theme.id as theme.name for theme in themes">
                    <option value="">请选择皮肤名称</option>
                </select>
            </div>
            <div class="form-item-select awifi-Col-1 awifi-margin-right">
                <select style="width: 100%" data-ng-model="themeType">
                    <option value="">请选择类别</option>
                    <option value="1">域名</option>
                    <option value="2">编码</option>
                </select>
            </div>
            <div class="form-item-input awifi-Col-2 awifi-margin-right awifi-margin-right">
                <input class="input-control" placeholder="请输入内容关键字" data-ng-model="content">
            </div>
            <div class="awifi-left awifi-padding-left">
                <button class="form-primary" data-ng-click="list()">
                    <span>查询</span>
                </button>
            </div>
            <div class="awifi-left awifi-padding-left awifi-padding-top awifi-margin-right">
                <a href="#/themeStrategy/add" class="btn add-form-primary">
                    <span>添加策略</span>
                </a>
            </div>
            <div class="awifi-left awifi-padding-left awifi-padding-top" permission="log_manager_theme_list">
                <a href="#/theme/list" class="btn add-form-primary">
                    <span>皮肤库</span>
                </a>
            </div>
        </div>
        <div class="listtitle">
            <span class="list4">&emsp;序号</span>
            <span class="list20">&nbsp;客户名称</span>
            <span class="list18">&nbsp;皮肤名称</span>
            <span class="list6">&nbsp;类别</span>
            <span class="list28">&nbsp;内容</span>
            <span class="list12">&nbsp;创建时间</span>
            <span class="oper8">&nbsp;操作</span>
        </div>
    </div>
</div>
<div class="content-one">
    <div class="datacontent" IE="8">
        <div class="listcontent" data-ng-repeat="themeStrategy in themeStrategys">
            <span class="list4">&emsp;{{ begin + $index + 1 }}</span>
            <span class="list20 substring" title="{{themeStrategy.customerName}}">&nbsp;{{themeStrategy.customerName}}</span>
            <span class="list18 substring" title="{{themeStrategy.themeName}}">&nbsp;{{themeStrategy.themeName}}</span>
            <span class="list6 substring">&nbsp;{{themeStrategy.themeTypeDsp}}</span>
            <span class="list28 substring" title="{{themeStrategy.content}}">&nbsp;{{themeStrategy.content}}</span>
            <span class="list12">&nbsp;{{themeStrategy.createDate}}</span>
            <span class="oper8">
                <a class="edit" title="编辑" href="#/themeStrategy/edit?id={{themeStrategy.id}}"></a>
                <a class="delete" data-ng-click="deleteStrategy(themeStrategy.id)" title="删除"></a>
            </span>
        </div>
        <div data-ng-if="themeStrategys.length==0" class="no-records">查询完成，没有找到相应的数据</div>
    </div>
</div>
<div class="footer-fixed">
    <div class="right_footer" data-ng-show="showPageBar">
        <div class="right_footer_page">
        </div>
        <div class="page_num">
            <ul>
                <li>每页显示</li>
                <li><input type="button" value="15" class="show_page" /> </li>
                <li><input type="button" value="30" class="show_page" /></li>
                <li><input type="button" value="50" class="show_page" /></li>
                <li>行</li>
            </ul>
        </div>
        <div class="nothing"></div>
    </div>
</div>