<div class="nav-map-wrap">
    <div class="nav-map">爱WiFi运营管理平台<span class="flag">></span>系统配置<span class="flag">></span>系统配置<span class="flag">></span>皮肤列表<span class="flag">></span>新增皮肤</div>
</div>
<div class="content">
    <form id="themeAddForm" method="post" enctype="multipart/form-data">
        <div class="account-add-body awifi-free-width">
            <div class="awifi-form-sheet">
                <label class="form-item-title awifi-Col-3">皮肤名称：</label>
                <div class="form-item-input awifi-Col-6">
                    <input type="text" class="input-control inputw490" placeholder="请输入皮肤名称" id="name" name="name" data-ng-model="theme.name">
                </div>
            </div>
            <div class="awifi-form-sheet">
                <label class="form-item-title awifi-Col-3">版本号：</label>
                <div class="form-item-input awifi-Col-6">
                    <input type="text" class="input-control inputw490" placeholder="请输入版本号" id="version" name="version" data-ng-model="theme.version">
                </div>
            </div>
            <div class="awifi-form-sheet">
                <label class="form-item-title awifi-Col-3">缩略图：</label>
                <div class="form-item-input awifi-Col-6" style="height:50px;color:#737373">
                    <input type="file" id="thumbPic" name="thumbPic" placeholder="请上传皮肤缩略图"/><br><br>
                    <label>缩略图建议：尺寸规格：宽至少320像素以上，图片文件大小请控制在200k以内</label>
                </div>
            </div>
            <div class="awifi-form-sheet">
                <label class="form-item-title awifi-Col-3">皮肤压缩包：</label>
                <div class="form-item-input awifi-Col-6" style="height:50px;color:#737373">
                    <input type="file" id="themeZip" name="themeZip" placeholder="请上传皮肤压缩包"/><br><br>
                    <label>文件说明：格式为zip</label>
                </div>
            </div>
            <div class="awifi-form-sheet">
                <label class="form-item-title awifi-Col-3">备注：</label>
                <div class="form-item-textarea awifi-Col-6">
                    <textarea rows="5" placeholder="请输入备注" class="textareaw490" maxlength="100" id="remark" name="remark" data-ng-model="theme.remark"></textarea>
                </div>
            </div>
            <div class="awifi-form-sheet">
                <label class="form-item-title awifi-Col-3">&nbsp;</label>
                <div class="awifi-left awifi-padding-left">
                    <button id="themeAdd" class="form-primary awifi-left" type="button" data-ng-click="themeAdd()">
                        <span>&nbsp;保&emsp;存&nbsp;</span>
                    </button>
                </div>
                <div class="awifi-left awifi-padding-left awifi-padding-top">
                    <a href="#/theme/list" class="btn back-form-primary">
                        <span>&nbsp;返&emsp;回&nbsp;</span>
                    </a>
                </div>
            </div>
        </div>
    </form>
</div>