<style>
    .ngdialog-message .content-fixed {
        width: 80%;
    }
    .awifi-Col-4 {
        width: 15%;
    }
    .user-add-body {
        float: left;
    }
    .Container-Body .content-two ul li,
    .Container-Body .content-two ul li .onesite img {
        width: 150px;
        height: 193px;
    }
    .Container-Body .content-two ul li .onesite .siteinfo:hover .customername,
    .Container-Body .content-two ul li .onesite .siteinfo:hover .sitename,
    .content-two ul li .onesite .siteinfo span.customername,
    .content-two ul li .onesite .siteinfo span.sitename {
        width: 150px;
    }
    .ngdialog * {
        box-sizing: content-box;
    }
    .ngdialog-message .content-one {
        padding-right: 20px;
    }
    .right_footer_page ul li.next_page2, .right_footer_page ul li.pre_page2 {
        width: 50px;
    }
</style>

<div class="content-fixed">
    <div class="awifi-padding-left20 awifi-padding-right20">
        <ul class="customerDetails">
            <li><label>客户名称：</label><strong>{{ customer.customerName }}</strong></li>
            <li><label>账号：</label><strong>{{ customer.account }}</strong></li>
        </ul>
        <ul class="navs">
            <li class="{{ tabDivName == 'customer' ? 'active' : '' }}" ng-click="showCustomerList(customerId, 'customer')">基本信息</li>
            <li class="{{ tabDivName == 'device' ? 'active' : '' }}" ng-click="showCustomerList(customerId, 'device')">设备信息</li>
            <li class="{{ tabDivName == 'strategy' ? 'active' : '' }}" ng-click="showCustomerList(customerId, 'strategy')">Portal与策略</li>
        </ul>

        <!--设备列表标题-->
        <div class="listtitle" ng-show="tabDivName == 'device'" style="margin-top:10px;clear:both;">
            <span class="list4">&emsp;序号</span>
            <span class="list24">&nbsp;设备ID</span>
            <span class="list14">&nbsp;设备名称</span>
            <span class="list12">&nbsp;APMAC</span>
            <span class="list12">&nbsp;SSID</span>
            <span class="list8">&nbsp;设备类型</span>
            <span class="list10">&nbsp;激活时间</span>
            <span class="list12">&nbsp;地区</span>
            <span class="list4">&nbsp;详情</span>
        </div>
    </div>
</div>

<!--客户详情信息-->
<div ng-show="tabDivName == 'customer'">
    <div class="user-add-body awifi-free-width" style="padding-top:120px;">
        <div class="awifi-form-sheet">
            <div class="awifi-form-sheet">
                <label class="form-item-title awifi-Col-4">联系人：</label>
                <label class="account-name-title awifi-Col-6">{{ customer.contact }}</label>
            </div>
            <div class="awifi-form-sheet">
                <label class="form-item-title awifi-Col-4">联系方式：</label>
                <label class="account-name-title awifi-Col-6">{{ customer.contactWay }}</label>
            </div>
            <div class="awifi-form-sheet">
                <label class="form-item-title awifi-Col-4">项目名称：</label>
                <label class="account-name-title awifi-Col-6">{{ customer.projectName }}</label>
            </div>
            <div class="awifi-form-sheet">
                <label class="form-item-title awifi-Col-4">行业：</label>
                <label class="account-name-title awifi-Col-6">{{ customer.parentIndustry }}{{ customer.childIndustry }}</label>
            </div>
        </div>
        <div class="awifi-form-sheet">
            <label class="form-item-title awifi-Col-4">地址：</label>
            <label class="account-name-title awifi-Col-6">{{ customer.province }}{{ customer.city }}{{ customer.county }}{{ customer.address }}</label>
        </div>
        <div class="awifi-form-sheet">
            <label class="form-item-title awifi-Col-4">备注：</label>
            <label class="account-name-title awifi-Col-6">{{ customer.remark }}</label>
        </div>
    </div>
</div>

<!--设备列表内容-->
<div ng-show="tabDivName == 'device'">
    <div class="content-one" style="padding-top:176px;">
        <div class="datacontent" IE="8">
            <div class="listcontent" ng-repeat="device in devices">
                <span class="list4">&emsp;{{ begin+$index+1 }}</span>
                <span class="list24 substring" title="{{ device.customerName }}">&nbsp;{{ device.deviceId }}</span>
                <span class="list14 substring" title="{{ device.entityName  }}">&nbsp;{{ device.entityName  }}</span>
                <span class="list12 substring" title="{{ device.apMac }}">&nbsp;{{ device.apMac }}</span>
                <span class="list12 substring" title="{{ device.ssid }}">&nbsp;{{ device.ssid }}</span>
                <span class="list8 substring" title="{{ device.entityType }}">&nbsp;{{ device.entityType }}</span>
                <span class="list10 substring" title="{{ device.activeTime  }}">&nbsp;{{ device.activeTime  }}</span>
                <span class="list12 substring" title="{{ device.address }}">&nbsp;{{ device.address }}</span>
                <span class="list4">&nbsp;<a target="_blank" class="view" title="查看" href="#/device/show?id={{ device.deviceId }}"></a></span>
            </div>
            <div data-ng-if="devices.length==0" class="no-records">查询完成，没有找到相应的数据</div>
        </div>
    </div>
    <div class="footer-fixed">
        <div class="right_footer" data-ng-show="showPageBar2">
            <div class="right_footer_page" >
                <ul>
                    <li class="pre_page2">上一页</li>
                    <li class="next_page2">下一页</li>
                </ul>
            </div>
            <div id="page_num2" class="page_num">
                <ul>
                    <li id="page_tips"></li>
                    <li>每页显示</li>
                    <li><input type="button" value="15" class="show_page" /> </li>
                    <li><input type="button" value="30" class="show_page" /></li>
                    <li><input type="button" value="50" class="show_page" /></li>
                    <li>行</li>
                </ul>
            </div>
            <div class="nothing"></div>
        </div>
    </div>
</div>

<!--策略列表内容-->
<div ng-show="tabDivName == 'strategy'">
    <div class="Container-Body" style="padding-top:125px;">
        <div class="content-two" style="clear:both;max-height:440px;overflow-y:auto;">
            <ul class="sitelist" data-ng-repeat="site in sites">
                <li>
                    <div class="onesite">
                        <img data-ng-src="{{ site.thumb ? site.thumb : 'images/noThumb.png' }}" alt="">
                        <div class="siteinfo">
                            <div class="nameandowner"><span class="sitename">{{ site.siteName }}</span></div>
                            <div class="nameandowner"><span class="customername">客户：{{ site.customerName }}</span></div>
                            <div class="timeInfo"><span class="addtime">{{ site.createDate }}</span></div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="content-one" style="clear:both;padding-top:10px;padding-bottom:0;">
            <div class="listtitle">
                <span class="list4">&emsp;序号</span>
                <span class="list20">&emsp;策略标题</span>
                <span class="list20">&nbsp;站点名称</span>
                <span class="list16">&nbsp;SSID</span>
                <span class="list16">&nbsp;设备名称</span>
                <span class="list16">&nbsp;有效日期</span>
            </div>

            <div class="datacontent" IE="8">
                <div class="listcontent" data-ng-repeat="strategy in strategys">
                    <span class="list4">&emsp;{{ begin + $index + 1 }}</span>
                    <span class="list20 substring" title="{{ strategy.strategyName }}">&emsp;{{ strategy.strategyName }}</span>
                    <span class="list20 substring" title="{{ strategy.siteName }}">&nbsp;{{ strategy.siteName }}</span>
                    <span class="list16 substring" title="{{ strategy.ssid }}">&nbsp;{{ strategy.ssid }}</span>
                    <span class="list16 substring" title="{{ strategy.deviceName }}">&nbsp;{{ strategy.deviceName }}</span>
                    <span class="list16 substring" title="{{ strategy.startDate }}-{{ strategy.endDate }}">&nbsp;{{ strategy.startDate }}~{{ strategy.endDate }}</span>
                </div>
                <div data-ng-if="strategys.length==0" class="no-records">查询完成，没有找到相应的数据</div>
            </div>
        </div>
    </div>
</div>