
<div class="nav-map-wrap">
    <div class="nav-map">爱WiFi运营管理平台<span class="flag">></span>设备管理<span class="flag">></span>设备分配</div>
</div>
<div class="content-fixed">
    <div class="awifi-padding-left20">
        <div class="awifi-form-sheet">
            <label class="form-item-title">地区：</label>
            <div class="form-item-select awifi-Col-1 awifi-margin-right" style="width: 75px">
                <select style="width:100%;" data-ng-change="cityChange($event)" data-ng-model="provinceId" data-ng-options="j.locationId as j.locationName for j in provinces">
                    <option value="">全国</option>
                </select>
            </div>
            <div class="form-item-select awifi-Col-1 awifi-margin-right" style="width: 75px">
                <select style="width:100%;" data-ng-change="countyChange($event)" data-ng-model="cityId" data-ng-options="c.locationId as c.locationName for c in citys">
                    <option value="">市</option>
                </select>
            </div>
            <div class="form-item-select awifi-Col-1 awifi-margin-right" style="width: 75px">
                <select style="width:100%;" data-ng-model="countyId" data-ng-options="n.locationId as n.locationName for n in countys">
                    <option value="">区/县</option>
                </select>
            </div>
            <div class="form-item-select awifi-Col-1">
                <select id="customerIdAndLevel" style="width: 100%;" data-ng-model="customerIdAndLevel">
                    <option value="">请选择客户</option>
                    <!--<option  data-ng-repeat="customer in customerNames"  value="{{customer.customerId}}#{{customer.cascadeLabel}}">{{ customer.customerName }}</option>-->
                </select>
            </div>
            <div class="form-item-input awifi-Col-1 awifi-margin-right">
                <input name="keywords" type="text" class="input-control" placeholder="请输入设备名称" maxlength="" value="" data-ng-model="deviceName">
            </div>
            <div class="form-item-input awifi-Col-1 awifi-margin-right">
                <input name="keywords" type="text" class="input-control" placeholder="请输入APMAC" maxlength="" value="" data-ng-model="apMac">
            </div>
            <div class="form-item-input awifi-Col-1 awifi-margin-right">
                <input name="keywords" type="text" class="input-control" placeholder="请输入ssid" maxlength="" value="" data-ng-model="ssid">
            </div>
            <div class="form-item-input awifi-Col-1 awifi-margin-right">
                <input name="keywords" type="text" class="input-control" placeholder="请输入DEVID" maxlength="" value="" data-ng-model="devId">
            </div>
            <div class="awifi-left awifi-padding-left awifi-Col-3">
                <button class="form-primary" ng-click="list()" permission="device_manager_list_search">
                    <span>查询设备</span>
                </button>
                <button class="form-primary"   ng-click="deviceAllocation()" permission="device_manager_list_transfer">
                    <span>设备分配</span>
                </button>
            </div>
        </div>

        <div class="listtitle">
            <span class="list4">&emsp;<input data-ng-click="selectAll()" type="checkBox" name="allBox"/></span>
            <span class="list4">&emsp;序号</span>
            <span class="list14">&nbsp;设备名称</span>
            <span class="list12">&nbsp;APMAC</span>
            <span class="list16">&nbsp;SSID</span>
            <span class="list12">&nbsp;客户</span>
            <span class="list8">&nbsp;设备类型</span>
            <span class="list10">&nbsp;激活时间</span>
            <span class="list12">&nbsp;地区</span>
            <span class="oper6">&nbsp;操作</span>
        </div>
    </div>
</div>

<div class="content-one">
    <div class="datacontent" IE="8">
        <div class="listcontent" ng-repeat="device in devices">
            <span class="list4">&emsp;
                   <input type="checkBox" name="checkbox"/>
                   <input type="hidden" name="customerId" value="{{ device.customerId }}"/>
                   <input type="hidden" name="deviceId" value="{{ device.deviceId }}"/>
            </span>
            <span class="list4">&emsp;{{ begin+$index+1 }}</span>
            <span class="list14 substring" title="{{ device.entityName  }}">&nbsp;{{ device.entityName  }}</span>
            <span class="list12 substring" title="{{ device.apMac }}">&nbsp;{{ device.apMac }}</span>
            <span class="list16 substring" title="{{ device.ssid }}">&nbsp;{{ device.ssid }}</span>
            <span class="list12 substring" title="{{ device.customerName }}">&nbsp;{{ device.customerName }}</span>
            <span class="list8 substring" title="{{ device.entityType }}">&nbsp;{{ device.entityType }}</span>
            <span class="list10 substring" title="{{ device.activeTime  }}">&nbsp;{{ device.activeTime  }}</span>
            <span class="list12 substring" title="{{ device.address }}">&nbsp;{{ device.address }}</span>
            <span class="oper6">
                <a class="edit" title="编辑" href="#/device/edit?id={{ device.deviceId }}" permission="device_manager_list_infor"></a>
                <a class="view" title="详情" href="javascript:;" data-ng-click="show(device.deviceId)" permission="device_manager_list_infor"></a>
                <!-- <a href="#/customer/edit?deviceId={{ device.deviceId }}" >Radio配置</a> -->
            </span>
        </div>
        <div data-ng-if="devices.length==0" class="no-records">查询完成，没有找到相应的数据</div>
    </div>
</div>
<div class="footer-fixed">
    <div class="right_footer" data-ng-show="showPageBar">
        <div class="right_footer_page"></div>
        <div class="page_num">
            <ul>
                <li>每页显示</li>
                <li><input type="button" value="15" class="show_page" /> </li>
                <li><input type="button" value="30" class="show_page" /></li>
                <li><input type="button" value="50" class="show_page" /></li>
                <li>行</li>
            </ul>
        </div>
        <div class="nothing"></div>
    </div>
</div>
