<div class="right_below_dsp" style="padding-bottom: 20px;">
    <form name="fileForm">
        <input type="file" data-ngf-select data-ng-model="xlsFile" name="file" accept="xls/*" reqFuired>
        <div style="padding:20px 0 20px 0"><a href="/download/template?fileName=hotAreaImportTemplate.xls" style="color:#333;">模板下载</a></div>
        <progressbar class="progress-striped active" data-ng-show="xlsFile.progress >= 0" value="xlsFile.progress" style="width:98%;height:18px;margin-left:2px;">{{ xlsFile.progress }}%</progressbar>
        <div style="width:99%;text-align:center;">
            <button data-ng-disabled="!fileForm.$valid" data-ng-click="uploadXls(xlsFile)">上传</button>
            <button data-ng-click="closeThisDialog()">关闭</button>
        </div>
        <div data-ng-show="xlsFile.result" class="upload_message">{{ xlsFile.result.message }}</div>
        <div id="validate_messsage" class="upload_message" style="display:none;"></div>
    </form>
</div>
