<div class="right_below" style="margin-bottom:30px;">
    <div class="awifi-form-sheet">
        <label class="form-item-title awifi-Col-2">请求时间：</label>
        <label class="form-item-title-left awifi-Col-9">{{requestLog.createDatetime}}</label>
    </div>
    <div class="awifi-form-sheet">
        <label class="form-item-title awifi-Col-2">模块名称：</label>
        <label class="form-item-title-left awifi-Col-9">{{requestLog.moduleName}}</label>
    </div>
    <div class="awifi-form-sheet">
        <label class="form-item-title awifi-Col-2">请求类型：</label>
        <label class="form-item-title-left awifi-Col-9">{{requestLog.requestType}}</label>
    </div>
    <div class="awifi-form-sheet">
        <label class="form-item-title awifi-Col-2">请求源IP：</label>
        <label class="form-item-title-left awifi-Col-9">{{requestLog.requestIp}}</label>
    </div>
    <div class="awifi-form-sheet">
        <label class="form-item-title awifi-Col-2">请求源端口：</label>
        <label class="form-item-title-left awifi-Col-9">{{requestLog.requestPort}}</label>
    </div>
    <div class="awifi-form-sheet">
        <label class="form-item-title awifi-Col-2">请求URL：</label>
        <div class="form-item-textarea awifi-Col-9">
            <textarea rows="3" placeholder="" style="width: 100%">{{requestLog.requestUrl}}</textarea>
        </div>
    </div>
    <div class="awifi-form-sheet">
        <label class="form-item-title awifi-Col-2">请求参数：</label>
        <div class="form-item-textarea awifi-Col-9">
            <textarea rows="3" placeholder="" style="width: 100%">{{requestLog.requestParam}}</textarea>
        </div>
    </div>
    <div class="awifi-form-sheet">
        <label class="form-item-title awifi-Col-2">请求返回值：</label>
        <div class="form-item-textarea awifi-Col-9">
            <textarea rows="10" placeholder="" style="width: 100%">{{requestLog.requestReturnValue}}</textarea>
        </div>
    </div>
</div>