<?xml version="1.0" encoding="UTF-8"?>
<web-app  
        version="3.0"  
        xmlns="http://java.sun.com/xml/ns/javaee"  
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
        
  <display-name>Archetype Created Web Application</display-name>
  
  
	<!-- 编码统一最好放最上面，最先加载，防止乱码-->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name><!-- 强制进行转码 -->
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
  
   <!-- Spring ApplicationContext配置文件的路径,可使用通配符,多个路径用,号分隔 此参数用于后面的Spring Context Loader -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath*:/spring/spring-context.xml
		</param-value>
	</context-param>
	
	<!-- Spring 刷新Introspector防止内存泄露 -->
	<listener>
		<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener>
	
	<listener>
		<listener-class>org.springframework.security.web.session.HttpSessionEventPublisher</listener-class>
	</listener>
	
	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
    </listener>
    <!-- Creates the Spring Container shared by all Servlets and Filters -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    
    <!-- SpringSecurity必须的filter -->  
    <filter>  
        <filter-name>springSecurityFilterChain</filter-name>  
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>  
    </filter>  
    <filter-mapping>  
        <filter-name>springSecurityFilterChain</filter-name>  
        <url-pattern>/*</url-pattern>  
    </filter-mapping> 
    
    <!-- Spring MVC -->
    <servlet>
        <servlet-name>DispatcherServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath*:/spring/spring-mvc.xml</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>DispatcherServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    
    <servlet>
    	<servlet-name>PollService</servlet-name>
        <servlet-class>com.awifi.toe.dbservice.head.PollService</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    
    <!-- Spring 刷新Introspector防止内存泄露 -->
	<listener>
		<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener>
    
    <!-- 设置session 超时时间为30分钟  -->
    <session-config>
        <session-timeout>30</session-timeout>
        <cookie-config>
	        <name>JSESSIONID_ADMIN</name>
	    </cookie-config>
    </session-config>
    
    <!-- 配置log4j -->
    <context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>classpath:log4j.properties</param-value>
    </context-param>
    
    <!-- druid数据源监控 -->
    <servlet>       
	  <servlet-name>DruidStatView</servlet-name>     
	  <servlet-class>com.alibaba.druid.support.http.StatViewServlet</servlet-class>  
	</servlet>   
	<servlet-mapping>     
	   <servlet-name>DruidStatView</servlet-name>  
	   <url-pattern>/ds/*</url-pattern>  
	</servlet-mapping>
  
    
    <!-- 默认首页 -->
    <welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
    
    <!-- 出错页面定义 -->
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/html/error/50X.html</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/html/error/50X.html</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/html/error/404.html</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/html/error/403.html</location>
	</error-page>
	<error-page>
		<error-code>405</error-code>
		<location>/html/error/403.html</location>
	</error-page>
  
</web-app>